body{
    background-color: #080808;
}
.h1-msg, .h1-msg h1{
    display: flex;
    justify-content: center;
}
.h1-msg{
    margin: 35px 0;
}
.main-section{
    width: 70%;
    height: 450px;
    margin: auto;
    background-color: red;
    display: flex;
    margin-bottom: 70px;
    direction: rtl;
}
.left-con, .right-con, .main-section{
    border-radius: 10px;
}
.left-con{
    background-color: black;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-container{
    display: inline-block;
}
.left-con a{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.mak-link{
    margin-bottom: 10px;
}
.mak-link, .left-con p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mak-link img{
    filter: invert(100%);
}
.mak-link a{
    display: flex;
    align-items: center;
    gap: 30px;
}
.left-container p{
    flex-wrap: wrap;
}

@media (max-width: 768px){
    .main-section{
        display: block;
    }
    .left-con{
        width: 100%;
        padding: 30px 0;
    }
}